In [166]:
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
import urllib.request 
import pandas as pd

In [167]:
# 1. start scraping for Mars news
!which chromedriver

executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
# Retrieve page with the requests module
#response = requests.get(url)
# Create BeautifulSoup object; parse with 'lxml'
#soup = BeautifulSoup(response.text, 'lxml')

/usr/local/bin/chromedriver

In [168]:
html = browser.html
#soup = BeautifulSoup(html, 'html.parser')
soup = BeautifulSoup(html, 'lxml')
news = soup.find_all('div', class_='list_text')
title = soup.find_all('div', class_='content_title')
title[1]

soup.find_all(target="_self")
result_text= soup.find_all('div',class_='rollover_description_inner')[6]
#temp=result_text.find('div',class_='rollover_description_inner')
news_p = result_text.text
news_title = title[1].text
print(news_title)
print('-'*70)
print(news_p)
#soup.find_all('div',class_='rollover_description_inner')

The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover
----------------------------------------------------------------------
Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.

In [169]:
#2. Scraping for the featured image

url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [170]:
image_track = soup.find_all('div',class_='carousel_items')
string1 = str(image_track)
strings = string1.split('spaceimages')
string2=strings[1].split('jpg')[0]
string2

'/images/wallpaper/PIA16883-1920x1200.'

In [171]:
featured_image_url = 'https://www.jpl.nasa.gov'+'/spaceimages' + string2+ 'jpg'
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA16883-1920x1200.jpg'

In [172]:
# Scraping for mars weather
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)
html = browser.html

In [173]:
soup = BeautifulSoup(html, 'html.parser')
results = soup.find_all('span', class_= "css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0")

weather='Weather information is not available'
for result in results:
    # Error handling
    try:
        weather =result.span(class_="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0")
    except Exception as e:
        print(e)
        
weather

'NoneType' object is not callable
'NoneType' object is not callable
'NoneType' object is not callable
'NoneType' object is not callable
'NoneType' object is not callable
'NoneType' object is not callable
'NoneType' object is not callable
'NoneType' object is not callable
'NoneType' object is not callable
'NoneType' object is not callable
'NoneType' object is not callable
'NoneType' object is not callable
'NoneType' object is not callable
'NoneType' object is not callable
'NoneType' object is not callable
'NoneType' object is not callable
'NoneType' object is not callable

[]

In [174]:
#scrtaping for Mars facts
facts_url = 'https://space-facts.com/mars/'
facts_tables = pd.read_html(facts_url)
facts_df=facts_tables[0]
facts_df.columns = ["Parameter", "Value"]
facts_df_new=facts_df.set_index('Parameter')
facts_df_new

                                              Value
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [175]:
facts_html_table = facts_df.to_html()
print(facts_html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Parameter</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [176]:
#Mars Hemispheres
image1 = {
  "title" : "Valles Marineris Hemisphere",
  "img_url" : "https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg"
}

image2 = {
  "title" : "Cerberus Hemisphere",
  "img_url" : "https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg"
}

image3 = {
  "title" : "Schiaparelli Hemisphere",
  "img_url" : "https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg"
}

image4 = {
  "title" : "Syrtis Major Hemisphere",
  "img_url" : "https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg"
}

images = {
  "image11" : image1,
  "image2" : image2,
  "image3" : image3,
  "image4" : image4
}

hemisphere_image_urls = list(images.values())
print(hemisphere_image_urls)

[{'title': 'Valles Marineris Hemisphere', 'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}, {'title': 'Cerberus Hemisphere', 'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere', 'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}]